h1 {
  font-family: 'Bungee Shade', cursive;
}

.jumbotron {
  background-image: url("https://thoughtcatalog.files.wordpress.com/2015/12/hires.jpg");
  color: white;
}

body {
  background-color:#0099CC;
}

p {
  padding-top: 30px;
}

img {
  padding-top: 30px;
}

h2 {
  font-family: nunito;
}

.ruby, .php, .design, .css {
  display: none;
}

.results {
  border: 5px solid white;
}

.container {
  border: 10px solid #000059;
  background-color: #86c5da;
}
