h1 {
  font-family: nunito;
}

.jumbotron {
  background-image: url("https://thoughtcatalog.files.wordpress.com/2015/12/hires.jpg");
  color: white;
}

body {
  background-color:#ADD8E6;
}

p {
  padding-top: 30px;
}

img {
  padding-top: 30px;
}

h2 {
  font-family: nunito;
}

.ruby, .php, .design, .css {
  display: none;
}
